.root {
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:;
    padding-top: 1%;
    padding-bottom: 1%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    min-width: 500px;
}
body {
    margin: 0;
    text-align: center;    
    background-color:;
}

main {
    padding-left: 10%;
    padding-right: 10%;
}

.contactMe ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

footer {
    background-color:;
    padding-top: .5%;
    padding-bottom: .5%;
}

@media screen and (max-width: 992px){
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}